<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WAD-Client-Id</title>
    <style type="text/css">
        body {
          background-color: black;
          color: white;
          font-family: "Courier New", Courier, monospace;
          margin: 0;
        }

        .container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }

        .container > h1 {
          max-width: 50%;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>
        ClientId: {{ client_id }}
    </h1>
</div>
</body>
</html>
